h1,
h2,
p,
q,
body,
ul {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ava img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.ava {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding-top: 14px;
    color: rgb(65, 59, 63);
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    padding: 5px 0 15px 0;
    color: rgb(127, 103, 122);
}

q {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    background-color: rgb(252, 211, 240);
    padding: 10px 0;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.about_me,
.skills,
.code_example,
.experience,
.education_and_courses,
.languages,
.end_line {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 50px;
    padding: 0 40px;
    text-align: left;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: rgb(65, 59, 63);
}

.about_me p,
.code_example p,
.experience p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgb(94, 87, 93);
    line-height: 1.5;
}

ul {
    color: rgb(200, 116, 183);
}

li {
    width: 80%;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgb(94, 87, 93);
    line-height: 1.68;
}

.code_example .code {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background-color: rgb(254, 241, 251);
    border-radius: 15px;
}

.code p {
    width: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgb(200, 116, 183);
    line-height: 1.5;
    font-style: italic;
}


.end_line {
    background-color: rgb(252, 211, 240);
    margin-bottom: 40px;
}


a {
    text-decoration: none;
    color: rgb(22, 131, 86);
    font-style: italic;
}


a:hover {
    text-decoration: none;
    color: rgb(224, 118, 178);
}

a:visited {
    text-decoration: none;
    color: rgb(91, 122, 207);
    font-style: italic;
}


a:active {
    text-decoration: none;
    color: rgb(146, 190, 239);
    font-style: italic;
}